//opacity
$support-for-ie = true

//body
$body-bg = #fff
$line-height = 1.5
$font-family = 'microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-size = 75%
$text-color = #333

//a, a:hover
$link-color = #148cec
$link-hover-color = #148cec
$link-hover-decoration = none

//container-width
$container-width = 1000px

//z-index
$zindex-page = 10
$zindex-dropdown = 1000
$zindex-tooltip = 1000